.Login-bg {
    background-image: url('../../assets/Background.jpg');
    background-position: center center;
}

.logo {
    margin-top: 6rem;
    margin-bottom: 2rem;
    width: 120px;
    background-color: #F7E6D0;
}

.logo-container {
    background-color: #F7E6D0;
}

.bg-button {
    background-color: #544ADD;
    color: white;
}

.bg-button:hover {
    background-color: gray;
    color: #242424;
}

.link-color {
    color: #544ADD;
}

a:hover {
    color: #544ADD;
}