$ficus-beige: #F7E6D0;
$ficus-black: #242424;
$ficus-green: #0B4931;
$ficus-purple: #544ADD;
$ficus-purple-c: #CFCCED;
$ficus-red: #FF2C2C;
$ficus-white: #FFFCF8;

$theme-colors: ( 
    "ficus-purple": $ficus-purple,
    "ficus-red": $ficus-red,
    "ficus-beige": $ficus-beige,
    "ficus-green": $ficus-green
)

// import {Outlet} from "../../../node_modules/react-router-dom/dist/index";