$ficus-purple: #544ADD;
$ficus-red: #FF2C2C;
$ficus-beige: #F7E6D0;
$ficus-green: #0B4931;

$theme-colors: ( 
    "ficus-purple": $ficus-purple,
    "ficus-red": $ficus-red,
    "ficus-beige": $ficus-beige,
    "ficus-green": $ficus-green
)
